.container-centered {
    margin: 20px auto;
    width: 1024px;
    font-family: "Cabin", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    background-color: #ffffff;
    box-shadow: 10px 10px 40px -1px rgb(0 0 0 / 23%);
}
.two-columns {
    display: flex;
}
.left-column{
    
    width: 58%;
    padding: 40px;
}

header img {
    margin-bottom: 10px;
    border: 10px solid var(--pink-color);
    border-radius: 50%;

}
.right-column{
    width: 42%;
    color: black;
    background-color: #ffffff;

  
}
header{
    padding: 30px;
    text-align: center;
    background-color: #ffffff;
}
aside{
    padding: 0 40px;
}

li {
    list-style-type: none;
   }

   ul {
    margin-left: 0; 
    padding-left: 0; 
   }

   header h2 {
    margin-bottom: 20px;
    letter-spacing: 2px;
  }

  .contacts li img {
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  
  .contacts a {
    text-decoration: none;
    color: var(--dark-gray-color);
  }

  .skills li img {
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 10px;
  }

 